body {
  margin: 0;
  padding: 0;
  transition: background 0.2s ease-in-out;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ff7eb3, #ff758c);
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}
